* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 360px) {
    header, hr  {
        visibility: hidden;
    }

    .box, .footer {
        visibility: hidden;
    }

    .container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .menu  {
        flex-wrap: wrap;
    }

    .box > p,h1 {
        font-size: 10px;
    }
    
    .footer, hr {
        visibility: hidden;
    }

    .container {
        flex-wrap: wrap;
    }
}

header {
    position: sticky;
    background-color: blanchedalmond;
}

.menu {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto 85px;
    font-size: large;
}

hr {
    color: rgb(200, 200, 200);
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.div {
    border-radius: 10px;
    background-color: grey;
    border:  black solid 2px;
    width: 190px;
    height: 250px;
    display: inline-block;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div > p {
    font-size: large;
    font-weight: bold;
}

.imageG {
    width: 50%;
    height: auto;
    border-radius: 8px;
    border: black solid 2px;
} 

.a {
    color: blue;
    display: flex;
    justify-content: center;
}

.box {
    border: black solid 1px;
    border-radius: 10px;
    width: 85em;
    height: 400px;
    margin: 30px 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: medium;
} 

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: blanchedalmond;
}